.titlebar {
	-webkit-app-region: drag;
	padding: 0 3px;
	background-color: #f6f6f6;
}

.titlebar-stoplight {
	float: left;
}

.titlebar:after,
.titlebar-stoplight:after {
	content: ' ';
	display: table;
	clear: both;
}

.titlebar-stoplight:hover .titlebar-close {
	background-position: -26px 0;
}

.titlebar-stoplight:hover .titlebar-minimize {
	background-position: 0 0;
}

.titlebar-stoplight:hover .titlebar-fullscreen {
	background-position: -13px 0;
}

.titlebar.alt .titlebar-stoplight:hover .titlebar-close {
	background-position: -104px 0;
}

.titlebar.alt .titlebar-stoplight:hover .titlebar-minimize {
	background-position: -78px 0;
}

.titlebar.alt .titlebar-stoplight:hover .titlebar-fullscreen {
	background-position: -91px 0;
}

.titlebar-close,
.titlebar-minimize,
.titlebar-fullscreen {
	-webkit-app-region: no-drag;
	float: left;
	margin: 6px 4px;
	background-repeat: no-repeat;
	background-image: url(%s);
	background-size: auto 12px;
	width: 12px;
	height: 12px;
	border-radius: 6px;
}

.titlebar-close {
	margin-left: 6px;
	background-position: -65px 0;
}

.titlebar-fullscreen {
	background-position: -52px 0;
}

.titlebar-minimize {
	background-position: -39px 0;
}
